.header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 57, 114);
}

.title {
    color: white;
    font-size: 24px;
}

.logo {
    width: 50px;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: App-logo-spin infinite 12s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
  
